<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.swampthingtom.dt.unit.crossPlatformSpriteKitGame_sharedComponent</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.base</string>
        <string>com.apple.dt.unit.languageChoice</string>
        <string>com.apple.dt.unit.crossPlatformBase</string>
    </array>
    <key>Nodes</key>
    <array>
        <string>Assets.xcassets</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>SortOrder</key>
            <integer>100</integer>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                    <key>Platforms</key>
                    <dict>
                        <key>iOS</key>
                        <string>___VARIABLE_iOSPlatform___</string>
                        <key>macOS</key>
                        <string>___VARIABLE_OSXPlatform___</string>
                    </dict>
                </dict>
                <dict>
                    <key>Type</key>
                    <string>tvappicon</string>
                    <key>Name</key>
                    <string>tvOS App Icon &amp; Top Shelf Image</string>
                    <key>Platforms</key>
                    <dict>
                        <key>tvOS</key>
                        <string>___VARIABLE_tvOSPlatform___</string>
                    </dict>
                </dict>
            </array>
            <key>TargetIdentifiers</key>
            <array>
                <string>com.apple.dt.iosApplicationTarget</string>
                <string>com.apple.dt.tvosApplicationTarget</string>
                <string>com.apple.dt.osxApplicationTarget</string>
            </array>
        </dict>
    </dict>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>GameScene.swift</string>
                        <string>LocationTapping.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>GameScene.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>GameScene.swift</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.iosApplicationTarget</string>
                                <string>com.apple.dt.tvosApplicationTarget</string>
                                <string>com.apple.dt.osxApplicationTarget</string>
                            </array>
                        </dict>
                        <key>LocationTapping.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>LocationTapping.swift</string>
                            <key>TargetIdentifiers</key>
                            <array>
                                <string>com.apple.dt.iosApplicationTarget</string>
                                <string>com.apple.dt.tvosApplicationTarget</string>
                                <string>com.apple.dt.osxApplicationTarget</string>
                            </array>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
</dict>
</plist>
