<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.swampthingtom.dt.unit.crossPlatformGame</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.crossPlatformBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>SortOrder</key>
	<integer>10</integer>
	<key>Image</key>
	<dict>
		<key>SystemSymbolName</key>
		<string>rocket</string>
	</dict>
    <key>Platforms</key>
    <array />
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>gameType</string>
			<key>Name</key>
			<string>Game Technology:</string>
			<key>Description</key>
			<string>The type of game technology to use to create your game</string>
			<key>Values</key>
			<array>
				<string>RealityKit</string>
				<string>SceneKit</string>
				<string>SpriteKit</string>
				<string>Metal</string>
			</array>
			<key>RequiredOptionsForValues</key>
            <dict>
                <key>RealityKit</key>
                <dict>
                    <key>languageChoice</key>
                    <string>Swift</string>
                </dict>
            </dict>
			<key>Default</key>
			<string>SpriteKit</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>SpriteKit</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.swampthingtom.dt.unit.crossPlatformSpriteKitGame_sharedComponent</string>
							<key>Name</key>
							<string>___PACKAGENAME___ Shared</string>
						</dict>
					</array>
				</dict>
				<key>SceneKit</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.crossPlatformSceneKitGame_sharedComponent</string>
							<key>Name</key>
							<string>___PACKAGENAME___ Shared</string>
						</dict>
					</array>
				</dict>
				<key>RealityKit</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.crossPlatformRealityKitGame_sharedComponent</string>
							<key>Name</key>
							<string>___PACKAGENAME___ Shared</string>
						</dict>
					</array>
				</dict>
				<key>Metal</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.crossPlatformMetalGame_sharedComponent</string>
							<key>Name</key>
							<string>___PACKAGENAME___ Shared</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>iOSPlatform</string>
			<key>Name</key>
			<string>Include iOS Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>SpriteKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.swampthingtom.dt.unit.crossPlatformSpriteKitGame_iOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ iOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>SceneKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformSceneKitGame_iOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ iOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>RealityKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformRealityKitGame_iOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ iOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>Metal</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformMetalGame_iOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ iOS</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>tvOSPlatform</string>
			<key>Name</key>
			<string>Include tvOS Application</string>
			<key>RequiredOptions</key>
			<dict>
				<key>iOSPlatform</key>
				<string>true</string>
                <key>gameType</key>
                <array>
                    <string>SpriteKit</string>
                    <string>SceneKit</string>
                    <string>Metal</string>
                </array>
			</dict>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>SpriteKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.swampthingtom.dt.unit.crossPlatformSpriteKitGame_tvOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ tvOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>SceneKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformSceneKitGame_tvOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ tvOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>Metal</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformMetalGame_tvOSComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ tvOS</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>OSXPlatform</string>
			<key>Name</key>
			<string>Include macOS Application</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>SpriteKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.swampthingtom.dt.unit.crossPlatformSpriteKitGame_OSXComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ macOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>SceneKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformSceneKitGame_OSXComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ macOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>RealityKit</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformRealityKitGame_OSXComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ macOS</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>gameType</key>
							<string>Metal</string>
						</dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.crossPlatformMetalGame_OSXComponent</string>
								<key>Name</key>
								<string>___PACKAGENAME___ macOS</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
